.button {
  background-color: get-color('pink');
  border-radius: 2em;
  color: get-color('white');
  font-weight: 700;
  padding: $spacer $spacer*2;

  &:hover {
    background-color: get-color('green');
  }
}