$totalCol: 12;

@function gridCalc($size) {
  @return percentage(($size / $totalCol));
}

@mixin generateGridColumns($modifier: null) {
  @if ($modifier) {
    $modifier: '--' + $modifier;
  }

  @for $i from 1 through $totalCol {
    .grid__column--#{$i}#{$modifier} {
      flex: 0 0 gridCalc($i);
    }
  }
}

.grid {
  padding: 0 $spacer/2;

  .grid {
    padding: 0;
  }
}

.grid__column {
  padding: 0 $spacer/2;

  .grid__column {
    padding: 0;
  }
}

@media #{$medium-up} {
  .grid {
    display: flex;    
  }

  .grid--vertical-center {
    align-items: center;
  }

  .grid--horizontal-center {
    justify-content: center;
  }

  .grid__column {
    flex: 1 1 0;

    .grid__column {
      padding-left: $spacer/2;
      padding-right: $spacer/2;

      &:last-child {
        padding-right: 0;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }

  @include generateGridColumns();
}

// To make this even more reusable
// you could have and extra modifier 
// to change the number of columns based
// on breakpoint.
@media #{$large-up} {
  @include generateGridColumns('large');
}