.product {
  background: rgba(white, 0.5);
  border-radius: $spacer*2;
  padding: $spacer*2;
}

.product__info {
  margin-top: $spacer*2;
}

.product__price {
  font-weight: 700;
}

.product__image {
  text-align: center;

  img {
    max-width: 100%;
  }
}

.product__button {
  margin: 0 auto;
  display: block;
}


@media #{$medium-up} {
  .product--wide {
    display: flex;

    .product__image {
      width: 40%;
    }

    .product__info {
      flex: 1;
      margin-top: 0;
    }
  }
}