.product-grid {
  margin: 0 auto;
  padding: $spacer;
  width: calc(100% - #{$spacer * 2});
  max-width: 1440px;
}

.product-grid__item {
  padding: $spacer;
}

@media #{$medium-up} {
  .product-grid {
    display: flex;
    flex-wrap: wrap;
  }

  $column: 100% / 3;

  .product-grid__item {
    width: $column;
  }

  .product-grid__item--wide {
    width: 100% - $column;
  }
}