$font-main: 'Rubik', sans-serif;
$font-accent: 'Roboto Mono', monospace;

$spacer: 1rem;
$container: 1440px;

$medium-up: 'screen and (min-width: 768px)';
$large-up: 'screen and (min-width: 1024px)';
$xlarge-up: 'screen and (min-width: 1120px)';

$colors: (
  'white': #fff,
  'black': #000,
  'light-green': #C0E5B7,
  'green': #5FBB46,
  'pink': #EE2291,
  'yellow': #FFEB59
);