extends ../../master

include ../../components/product-grid

block main
  +product-grid(
    [
      [
        {
          title: 'Super Smash Bros. Ultimate Special Edition',
          description: 'With the Super Smash Bros. Ultimate Special Edition, you will receive a Super Smash Bros. Ultimate game in a steel case, and a Super Smash Bros. Ultimate Edition Nintendo Switch™ Pro Controller to take down your friends in style!',
          imageUrl: 'https://happyholidays.nintendo.com/binaries/5baac1a4efd73a3c46b46a39/productImage.png',
          price: {
            val: 139,
            dec: 99
          }
        }
      ],
      [
        {
          title: 'Minecraft',
          description: 'Minecraft is a game about placing blocks and going on adventures. Build anything you can imagine with unlimited resources in Creative mode, or go on grand expeditions in Survival, journeying across mysterious lands and into the depths of your own infinite worlds. Will you hide from monsters or craft tools, armor and weapons to fight back? ',
          imageUrl: 'http://happyholidays-author.s3-website-us-east-1.amazonaws.com/binaries/5baac1caefd73a3c46b46a48/productImage.png',
          price: {
            val: 29,
            dec: 99
          }
        },
        'wide'
      ]
    ]
  )